<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<h1>Список</h1>
<div class="container-fluid">
<ol>
    <#list carList as car>
        <li>
            <div class="row">
                <div class="col-md-4"><img height="80px" src="${car.getCarImage()}" alt="null"></div>
                <div class="col-md-8">
            <a href="http://localhost:8080/car?id=${car.getId()}">
                <p>Марка: ${car.getMark()} Модель: ${car.getModel()} Цвет: ${car.getColor()} Цена: ${car.getCost()} </p>
            </a>
                </div>
            </div>
        </li>
    </#list>
    <form action="/main_page">
        <input type="submit" name="mark_id" value="1">
        <input type="submit" name="mark_id" value="2">
    </form>
    <form action="/main_page">
        <input type="submit" value="Все">
    </form>
</ol>
</div>
</body>
</html>